body {
    background: #f7f7f7;
}

/*banner开始*/
.banner {
    width: 100%;
    height: 3.8rem;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /*height: 100%;*/
}

.search {
    width: 5.2rem;
    height: 0.54rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.27rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.30rem;
    margin: auto;
    z-index: 10;
    font-size: 0.22rem;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.search > img {
    width: 0.3rem;
    height: 0.29rem;
    margin: 0 0.25rem;
}

/*景点分类开始*/
.scenic-search {
    /*margin: 0.2rem 0.15rem;*/
    margin-top: 0.24rem;
    /*height: 2.24rem;*/
    background-color: #ffffff;
    /*box-shadow: 0 0.05rem 0.06rem 0.01rem rgba(165, 165, 165, 0.4);*/
    /*border-radius: 0.2rem;*/
    /*border: solid 0.02rem #eeeeee;*/
    height: auto;
    overflow: hidden;
    padding: 0.1rem 0;
}

.scenic-search-ul {
    width: 100%;
    height: 100%;
}

.scenic-search-li {
    width: 25%;
    height: 50%;
    float: left;
}

.scenic-search-ul li:nth-child(1),.scenic-search-ul li:nth-child(2),.scenic-search-ul li:nth-child(3),.scenic-search-ul li:nth-child(4){
    margin-bottom: 0.3rem;
}

.scenic-img {
    width: 100%;
    height: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.scenic-img > img {
    height: 0.38rem;
}

.scenic-p {
    font-size: 0.26rem;
    line-height: 0.30rem;
    color: #1e1e1e;
    text-align: center;
}

/*广告位开始*/
.advertising {
    margin: 0.2rem 0.15rem;
    height: 2.24rem;
    background-color: #ffffff;
    border-radius: 0.2rem;
}

.advertising img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
}

/*热门开始*/
#productBox {
    padding-bottom: 0.66rem;
}

.hot-destination {
    margin: 0.24rem 0;
    padding: 0 0.2rem;
    height: 3.6rem;
    background: #fff;
}

.hot-destination.hotel {
    height: 4.4rem;
    padding-bottom: 0.16rem;
}

#hotelProduct {
    height: 3.46rem;
}

#hotelProduct > div {
    width: 49%;
    height: 100%;
}

#hotelProduct a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#hotelProduct a img {
    width: 100%;
    height: 100%;
}

.hp-left, .hpr-item {
    position: relative;
}

.hp-left p, .hpr-item p {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
    overflow: hidden;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 0.05rem 0.1rem;
}

.hp-left p > span, .hpr-item p > span {
    display: block;
}
.hpr-p{
    color: #fff;
}

.hp-left p > span:first-child {
    text-align: left;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hp-left p > span:last-child{
    text-align: right;
    color: #f49700;
    font-size: 0.3rem;
}

.hp-left p > span:last-child span:last-child{
    color: #fff;
    font-size: 0.24rem;
}

.hp-left p > span:last-child span:first-child{
    font-size: 0.2rem;
}

.hp-right {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.hp-right div {
    width: 100%;
    height: 48%;
}

.hot-destination.new {
    height: auto !important;
}

.hot-head {
    width: 100%;
    height: 0.78rem;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    position: relative;
    font-size: 0.3rem;
    font-weight: bold;
    color: #1e1e1e;
}

.hot-icon {
    /*width: 0.08rem;*/
    height: 0.28rem;
    margin-right: 0.15rem;
    /*margin-left: 0.1rem;*/
}

.hot-more {
    width: 0.16rem;
    height: 0.26rem;
    position: absolute;
    right: 0.1rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

.hot-con {
    width: 100%;
    height: 2.82rem;
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
}

.hot-con.new {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hot-item {
    /*width: 2.3rem;*/
    width: 32%;
    height: 100%;
}

.hot-img {
    width: 100%;
    height: 1.9rem;
    overflow: hidden;
    background-size: cover;
}

.hot-item img {
    width: 100%;
    /*height: 100%;*/
}

.hot-p1 {
    width: 100%;
    font-size: 0.26rem;
    color: #1e1e1e;
    text-align: center;
    line-height: 0.4rem;
    margin-top: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hot-p2 {
    width: 100%;
    font-size: 0.22rem;
    line-height: 0.3rem;
    color: #808080;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*周边发现开始*/
.surrounding {

    width: 100%;
    /*height: auto;*/
    /*overflow: auto;*/
    /*background: #fff;*/
    background: #fff;
}

.surrounding.active1 {
    margin-top: 0.24rem;
}

.surrounding.active2 {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 20;
    overflow-y: scroll;
}

.surround-head {
    width: 100%;
    height: 0.78rem;
}

.surround-head-title {
    width: 50%;
    height: 100%;
    line-height: 0.78rem;
    text-align: center;
    float: left;
    font-size: 0.32rem;
    color: #1e1e1e;
    position: relative;
    border-bottom: 0.01rem solid #e5e5e5;
}

.surround-head-title.active {
    border-bottom: 0.06rem solid #47bfc5;
    color: #47bfc5;
}

.surround-con {
    padding: 0 0.2rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 1rem;
}

.surround-content {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    display: none;
}

.surround-content.active {
    display: block;

}

.surround-content-title {
    width: 100%;
    height: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-around;
}

.surround-content-title > p {
    display: inline-block;
    width: 1.1rem;
    height: 0.45rem;
    background-color: #ffffff;
    border-radius: 0.2rem;
    border: solid 0.02rem #e5e5e5;
    text-align: center;
    line-height: 0.45rem;
    font-size: 0.26rem;
    color: #a4a4a4;
}

.surround-content-title > p.active {
    border: solid 0.02rem #47bfc5;
    color: #47bfc5;
}

.surround-content-con {
    width: 100%;
    /*height: auto;*/
    height: 100%;
    /*overflow: hidden;*/
    overflow-y: auto;
}

.surround-content-con .content {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.surround-content-item {
    /*width: 3.5rem;*/
    width: 49%;
    height: 3.9rem;
    float: left;
    margin-bottom: 0.2rem;
}

.surround-content-item div {
    width: 100%;
    height: 3rem;
    overflow: hidden;
}

.surround-content-item div img {
    /*width: 120%;*/
    width: 100%;
    height: 100%;
}

.surround-content-item p {
    display: block;
    width: 100%;
    /*padding: 0 0.1rem;*/
    line-height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.surround-content-item .p1 {
    font-size: 0.26rem;
    color: #1e1e1e;
    /*padding-left: 0.14rem;*/
    margin-top: 0.1rem;
}

.surround-content-item .p2 {
    font-size: 0.28rem;
    font-weight: bold;
    color: #f49700;
}

.surround-content-item .p2 > span:last-child {
    float: right;
    font-size: 0.22rem;
    font-weight: normal;
    color: #808080;
}

.surround-content-item .p2 > span:first-child {
    font-size: 0.2rem;
}
