.pTop {
    width: 100%;
    height: 2.34rem;
    background: url("../img/personal/background@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding-top: 0.76rem;
}

.pTop-left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    float: left;
    position: relative;
}

.pTop-left>img:first-child {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.42rem;
    border-radius: 50%;
}

.pTop-right {
    width: 70%;
    float: left;
    height: 100%;
    padding-left: 0.2rem;
    position: relative;
}

.nicheng {
    width: 100%;
    color: #fff;
    padding: 0.04rem 0;
    font-size: 0.3rem;
    margin-top: 0.15rem;
}

.pnav {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 0.3rem;
    color: #47bfc5;
}

.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 0.28rem;
}

.commission {
    width: 100%;
    height: 4.32rem;
    margin: 0 auto;
    background: #fff;
}

.com-item {
    width: 90%;
    height: 33.33%;
    margin: 0 auto;
}

.com-item-top {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    padding-top: 0.1rem;
}

.com-item-top>img {
    display: block;
    width: 0.32rem;
    height: 0.36rem;
    margin-right: 0.2rem;
}

.com-item-bot {
    width: 100%;
    height: 0.94rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}

.allowtext {
    color: #f79628;
    font-size: 0.6rem;
    line-height: 0.94rem;
    text-indent: 1em;
    display: inline-block;
}


#withdrawal {
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    height: 0.56rem;
    border: 0.02rem solid #4cccd2;
    color: #4cccd2;
    line-height: 0.56rem;
    padding: 0 0.12rem;
    border-radius: 0.08rem;
    float: right;
}

/*九宫格样式  */

.moneyMenu {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 0.28rem;
    padding: 0.04rem 0.08rem;
    background: #fff;
}

.money-item {
    width: 33.33%;
    height: 1.88rem;
    padding: 0.16rem 0;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-around;
    -webkit-flex-direction: column;
}

.money-item.right {
    border-right: 0.01rem solid #eee;
}

.money-item.top {
    border-top: 0.01rem solid #eee;
}
.money-item.bottom {
    border-bottom: 0.01rem solid #eee;
}
.money-item>img{
    height: 0.64rem;
}